.body {
	margin: 0;
}

.bobox {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 500px 500px;
	height: 200vh;
	grid-template-rows: 1fr 300px 700px 500px;
	grid-template: 'top top top' 'genre show cal' 'board board rank'
		'footer footer footer';
}

.bobox>div {
	background-color: bisque;
	justify-items: center;
	align-items: center;
	display: gird;
	padding: 20px;
	border: 1px solid #000;
}

.top {
	grid-area: top;
	display: flex;
	justify-content: space-between;
}

.over {
	display: inline-block;
	max-width: 100%;
	height: auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
	
}

.over2 {
	display: inline-block;
	max-width: 100%;
	height: auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
}

.over3 {
	display: inline-block; 
	max-width: 100%; 
	height : auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
	
}

.over4 {
	display: inline-block; 
	max-width: 100%;
	height : auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
	
}

.genre {
	grid-area: genre;
}

.show {
	grid-area: show;
	text-align: center;
	line-height: 300px;
	max-width: 100%; 
	height : auto;
}

.cal {
	grid-area: cal;
}

.board {
	grid-area: board;
}

.rank {
	grid-area: rank;
}

.div>img {
	width: 400px;
	height: 800px;
}

.topbtn {
	cursor:pointer;
	 position: fixed;  
  	bottom: 100px;
  	left: 1850px;
  	z-index: 9999;
  	width: 50px;
  	height: 50px;
}

footer {
	clear: both;
	background-color: red;
}


/* ���� css */
/*

	
	
	.genre {
		display: inline-block;
		float: left;
		width: 200px;
		height: 500px;
		background: #CCCB9C;
		color: #000;
		font-size: 12px;
		position: absolute;
		}
	
	
	.mainshow {
		display: inline-block;
		width: 1262px;
		height: 500px;
		background: #b064D0;
		margin: 0 auto;
		color: #000;
		}
	
	.cal {
		display: inline-block;
		width: 500px;
		height: 500px;
		background: #c111D0;
		margin: 0 auto;
		color: #000;
		}
	
	.message {
		display: inline-block;
		float:left;
		width: 763px;
		height: 500px;
		background: #BBCB9C;
		line-height: 100px;
		color: #000;
		}
	
	.Rank {
		display: inline-block;
		float: right;
		width: 500px;
		height: 500px;
		background: #2211D0;
		color: #000;
		}
		
	.ticketing {
		background:pink;
		border: 1px dotted red;
		width: 50px;
		height: 30px;
		line-height:30px;
	}
		
	
*/