/* ====================================== 
	1. Body-Area
======================================== */

.body {
	margin: 0;
}

.bobox {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 5fr;
	height: 200vh;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
	grid-template: 'top top top top top' 
					'genre  show show show show'
					'blank  show show show show'
					'blank board board board rank' 
					'foot foot foot foot foot';
}
/* ====================================== 
	2. Box div-Area
======================================== */
.bobox>div {
	border:1px solid black;
	background-color: bisque;
	justify-items: center;
	align-items: center;
	display: grid;
	
}

.top {
	grid-area: top;
	width: 100%;
	display: block;
	justify-content: center;
	padding: 20px 20px 20px 20px;
}

.postbox {
	width: 100%;
	background: black;
	border-radius: 10px;
	overflow: auto;
	padding: 50px 15px 15px 50px;
	margin: 10px 10px;
	box-shadow: 0 3px 5px rgb(0 0 0/ 10%);
}

.postbox ul li {
	width: 20%;
	
	margin-left: 50px;
	display: inline-block;
}

.postbox ul li img {
	width: 250px;
	height: 350px;
	margin: 0;
	display: block;
	padding: 1%;
	
}
.postbox ul li a{
		cursor:pointer;
	
		
	}
.postbox ul li strong {
	width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: white;
	margin: 10px;
}

.postbox ul li strong {
	font-family: NanumSquareRound !important;
	color: violet;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
.postbox h2 {
	font-family: NanumSquareRound !important;
			color: white;
			font-size: 25px;
			font-weight: bold;
			line-height: 21px;
			border-bottom: 1px solid #d4d4d4;
			width: 100%;
			margin: 0 0 19px 0;
			padding: 0px 0 16px 0;
}
.small {
	width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	margin-bottom: 23px;
	margin-left: 0;
	font-size: 20px;
	font-family: '�룍��', 'Dotum', sans-serif;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-align: center;
	color: white;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.genre {
	grid-area: genre;
		padding: 20px;
}
.blank {
	grid-area: blank;

}
/* ====================================== 
	16. Footer-Area
======================================== */
.show {
	grid-area: show;
	text-align: center;
	line-height: 300px;
	max-width: 100%;
	height: auto;
	padding: 10px;
}
/* ====================================== 
	16. Popup video
======================================== */
#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
    
	}
	
	#element_to_pop_up2 { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
    
	}
	
	.content3{
	src:"../img/index/con1.gif"
	}

/* * {margin:0; padding:0; box-sizing:border-box;}

.button  {background:#333; color:#fff; font-size:14px; text-decoration:none; text-align:center; line-height:24px;}
.page {padding:20px;}
#layer {display:none; position:absolute; top:50%; left:50%; width:600px; height:376px; margin:-188px 0 0 -300px; padding:20px; background:#eee; box-shadow:1px 1px 10px rgba(0,0,0,0.3); border:1px solid #dadada; z-index:21;}
#layer #player {display:block; margin:20px auto 0;}
#layer .inner {position:relative;}
#layer .inner .close {position:absolute; top:-30px; right:0; display:block; width:20px; height:20px; background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt18SOam3wUX0wExC6ji5-lY732vA2fEPBscikPQaLbT_tJd7Y7g') no-repeat 0 0; text-indent:-999em; background-size:20px 20px;}
.dim {display:none; position:fixed; _position:absolute; top:0;left:0; background:#000; width:100%; height:100%; filter:Alpha(opacity=40); opacity:0.4; -moz-opacity:0.4; z-index:20;}  */
/* ====================================== 
	16. Footer-Area
======================================== */
.board {
	grid-area: board;
		padding: 20px;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.rank{
	grid-area: rank;
		padding: 20px;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.div>img {
	width: 800px;
	height: 800px;
}

.video {
	max-width: 80%;
	height: 80%;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.topbtn {
	cursor: pointer;
	position: fixed;
	bottom: 100px;
	left: 1850px;
	z-index: 9999;
	width: 50px;
	height: 50px;
}

/* ====================================== 
	16. Footer-Area
======================================== */
.foot {
	grid-area: foot;
	width: 1fr;
	height: 1fr;
	
}

.foott {
	background: #333 none repeat scroll 0 0;
	padding: 45px 0px 100px;
}

.single-foott {
	color: #fff;
	font-weight: 200;
	margin-top: 5px;
}
/* ============================================================================== 
================================================================================ 
================================================================================  
=============================Detail CSS ======================================== 
============================================================================== 
================================================================================ 
================================================================================*/
