.body {
	margin: 0;
}

.bobox {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 200vh;
	grid-template-rows: 1fr 1fr 200px 500px;
	grid-template: 'top top top top top' 
					'genre show show  show cal' 
					'board board board board rank'
					'foot foot foot foot foot'; 
}

.bobox>div {
	background-color: bisque;
	justify-items: center;
	align-items: center;
	display: gird;
	padding: 20px;
	border: 1px solid #000;
}

.top {
	grid-area: top;
	display: flex;
	justify-content: space-between;
}

.over {
	display: inline-block;
	max-width: 100%;
	height: auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
}

.over2 {
	display: inline-block;
	max-width: 100%;
	height: auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
}

.over3 {
	display: inline-block;
	max-width: 100%;
	height: auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
}

.over4 {
	display: inline-block;
	max-width: 100%;
	height: auto;
	background: #FFFFCC;
	text-align: center;
	line-height: 300px;
}

.postbox {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 30px 5px 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
}

.postbox ul li {
    width: 30%;
    float: left;
    margin-left: 20px;
    display: inline;
}
.postbox ul li img {
    width: 400px;
    height: 600px;
    margin: 0 0 0 0;
    display: block;
}
.postbox ul li strong {
    width: 215px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin: 15px 0 8px 0;
}
.postbox h2 {
    width: 100%;
    margin: 0 0 19px 0;
    padding: 0px 0 16px 0;
    border-bottom: 1px solid #d4d4d4;
    font-family: NanumSquareRound !important;
    color: skyblue;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}
.postbox ul li strong {
    font-family: NanumSquareRound !important;
    color: #666;
    font-size: 19px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
.postbox ul li strong span {
    width: 215px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-bottom: 23px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: '돋움', 'Dotum', sans-serif;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    
}

.genre {
	grid-area: genre;
}

.show {
	grid-area: show;
	text-align: center;
	line-height: 300px;
	max-width: 100%;
	height: auto;
}

.cal {
	grid-area: cal;
}

.board {
	grid-area: board;
}

.rank {
	grid-area: rank;
}

.div>img {
	width: 400px;
	height: 800px;
}

.video {
	max-width: 100%;
	height: 100%;
	
}

.topbtn {
	cursor: pointer;
	position: fixed;
	bottom: 100px;
	left: 1850px;
	z-index: 9999;
	width: 50px;
	height: 50px;
}

/* ====================================== 
	16. Footer-Area
======================================== */
.foot-top {
  background: #333 none repeat scroll 0 0;
  
}
.foot-top::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}
.foot {
  grid-area : foot;
  background: #333 none repeat scroll 0 0;
  padding : 45px 0px 45px;
 
}
.single-foot{
  color: #fff;
  font-weight: 200;
  margin-top: 5px;
}
.single-foot h2 {
  color: #fff;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 45px;
  margin-top: 30px;
}
.foot-contact li {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;
}
.foot-contact li::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 25px;
}
.foot-contact li i {
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
  padding-top: 7px;
}
.foot-contact span {
  display: block;
}
.foot-menu li {
  margin-bottom: 10px;
}
.foot-menu ul li a {
  color: #f4f4f4;
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.foot-menu ul li:hover a {
  color: #f6416c;
}
.foot-message-box {
  padding-right: 0;
}
.foot-message-box input, .foot-message-box textarea {
  background: #333 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
}
.foot-message-box input {
  height: 33px;
}
.foot-message-box textarea {
  height: 90px;
  line-height: 20px;
}
.foot-message-box input[type="submit"] {
  background: #f6416c none repeat scroll 0 0;
  font-weight: 500;
  text-transform: uppercase;
}
.foot-message-box input::-webkit-input-placeholder,
.foot-message-box textarea::-webkit-input-placeholder {
  color: #eee;
  opacity: 1;
}
.foot-message-box input:-moz-placeholder,
.foot-message-box textarea:-moz-placeholder {
  color: #eee; /* Firefox 18- */
  opacity: 1;
}
.foot-message-box input::-moz-placeholder,
.foot-message-box textarea::-moz-placeholder {
  color: #eee; /* Firefox 19+ */
  opacity: 1;
}
.foot-message-box input:-ms-input-placeholder,
.foot-message-box textarea:-ms-input-placeholder {
  color: #eee;
  opacity: 1;
}
.copyright {
  background: #292727 none repeat scroll 0 0;
  padding: 15px 0;
}
.copyright-brief p {
  color: #f5f5f4;
  margin: 5px 0 0;
}
.copyright-brief a {
  color: #f6416c;
}
.footer-social a {
  background: #f3f3f3 none repeat scroll 0 0;
  color: #292727;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  text-align: center;
  width: 32px;
}
.foot-social a:first-child {
  margin-left: 0;
}
.foot-social a:hover {
  background: #f6416c none repeat scroll 0 0;
  color: #fff;
}

/* ���� css */
/*

	
footer {
	clear: both;
	background-color: red;
}
	
	.genre {
		display: inline-block;
		float: left;
		width: 200px;
		height: 500px;
		background: #CCCB9C;
		color: #000;
		font-size: 12px;
		position: absolute;
		}
	
	
	.mainshow {
		display: inline-block;
		width: 1262px;
		height: 500px;
		background: #b064D0;
		margin: 0 auto;
		color: #000;
		}
	
	.cal {
		display: inline-block;
		width: 500px;
		height: 500px;
		background: #c111D0;
		margin: 0 auto;
		color: #000;
		}
	
	.message {
		display: inline-block;
		float:left;
		width: 763px;
		height: 500px;
		background: #BBCB9C;
		line-height: 100px;
		color: #000;
		}
	
	.Rank {
		display: inline-block;
		float: right;
		width: 500px;
		height: 500px;
		background: #2211D0;
		color: #000;
		}
		
	.ticketing {
		background:pink;
		border: 1px dotted red;
		width: 50px;
		height: 30px;
		line-height:30px;
	}
		
	
*/