@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
    
    
.body {
	margin: 0;
}

.bobox {
	display: grid;
	border: 1px solid;
	grid-gap: 10px;
	grid-template-columns: 5fr;
	height: 200vh;
	grid-template-rows: 1fr 1fr 1fr ;
	grid-template: 'textbox textbox textbox' 
					'top  show show'
					'blank  show show'
					'blank board rank' 
					'foot foot foot';
}
.bobox>div {
	background-color: visque;
	justify-items: center;
	align-items: center;
	display: grid;
	border: 1px;
	
}
.textbox{
	border: 1px;
	grid-area: textbox;
}
.top {
	grid-area: top;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	
}

.postbox {
	width: 100%;
	background: black;
	border-radius: 10px;
	overflow: hidden;
	padding: 25px 30px 5px 30px;
	border: 1px solid;
	margin-bottom: 10px;
	box-shadow: 0 3px 5px rgb(0 0 0/ 10%);
}

.postbox ul li {
	width: 20%;
	float: left;
	margin-left: 0;
	display: inline;
}

.top img {
	width: 100px;
	height: 200px;
	margin: 0 0 0 0;
	display: block;
	padding: 0 0 0 00px;
}

.postbox ul li strong {
	width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: white;
	margin: 10px;
}

.postbox ul li strong {
	font-family: NanumSquareRound !important;
	color: violet;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
.postbox h2 {
	font-family: NanumSquareRound !important;
			color: white;
			font-size: 25px;
			font-weight: bold;
			line-height: 21px;
			border-bottom: 1px solid #d4d4d4;
			width: 100%;
			margin: 0 0 19px 0;
			padding: 0px 0 16px 0;
}
.small {
	width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	margin-bottom: 23px;
	margin-left: 0;
	font-size: 20px;
	font-family: '돋움', 'Dotum', sans-serif;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-align: center;
	color: white;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.genre {
	grid-area: genre;
		padding: 20px;
}
.blank {
	grid-area: blank;

}
/* ====================================== 
	16. Footer-Area
======================================== */
.show {
	grid-area: show;
	text-align: center;
	line-height: 300px;
	max-width: 100%;
	height: auto;
	padding: 10px;
}
/* ====================================== 
	16. Footer-Area
======================================== */

/* ====================================== 
	16. Footer-Area
======================================== */
.board {
	grid-area: board;
		padding: 20px;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.rank{
	grid-area: rank;
		padding: 20px;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.div>img {
	width: 800px;
	height: 800px;
}

.video {
	max-width: 100%;
	height: 100%;
}
/* ====================================== 
	16. Footer-Area
======================================== */
.topbtn {
	cursor: pointer;
	position: fixed;
	bottom: 100px;
	left: 1850px;
	z-index: 9999;
	width: 50px;
	height: 50px;
}

/* ====================================== 
	16. Footer-Area
======================================== */
.foot {
	grid-area: foot;
	width: 1fr;
	height: 1fr;
	
}

.foott {
	background: #333 none repeat scroll 0 0;
	padding: 45px 0px 100px;
}

.single-foott {
	color: #fff;
	font-weight: 200;
	margin-top: 5px;
}
